---
import MailchimpForm from "../components/mailchimp-form.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/button.png" />
    <meta name="viewport" content="width=device-width" />
    <title>JumboCode</title>
  </head>
  <body
    class="antialiased bg-background text-white max-w-screen-sm mx-auto px-6 pt-16 sm:pt-24 pb-40"
  >
    <div class="flex items-end gap-x-6">
      <img
        src="/button.png"
        class="w-24 shadow-xl border-2 border-accent rounded-xl"
        alt=""
      />
      <div>
        <p class="text-4xl font-bold tracking-tight text-accent">JumboCode</p>
        <p class="mt-1.5 opacity-90 font-medium text-sm">
          Building apps for nonprofits at Tufts University.
        </p>
      </div>
    </div>

    <div
      class="mt-16 space-y-3 leading-relaxed border-l-2 border-l-accent pl-6"
    >
      <p class="font-bold">
        For the past 9 years, JumboCode has built pro-bono web and mobile apps
        for nonprofit clients.
      </p>
      <p>
        We set up 10-12 teams with 1 project manager, 1 tech lead, 1 designer,
        10 developers, and a client that we’ve found. Over the course of a year,
        the team builds a custom app for the nonprofit client.
      </p>
      <p>
        JumboCode is one of Tufts’ largest clubs, with 180 members last year.
      </p>
    </div>

    <div class="mt-16 space-y-3">
      <p class="font-bold text-accent">
        Applications open in September 12th, 2024 and close September 20th,
        2024.
      </p>
      <p class="opacity-80">To stay updated:</p>
      <ul class="list-disc ml-5 space-y-1 opacity-85">
        <li>
          Follow us on
          <a
            href="https://instagram.com/jumbocode"
            target="_blank"
            class="underline"
          >
            Instagram</a
          >.
        </li>
        <li>Find us at the club fair on September 6th, 2024.</li>
        <li>Join our email list:</li>
      </ul>

      <div class="pt-2" id="newsletter">
        <div class="border border-white/40 bg-white/5 p-4 rounded-xl">
          <p class="mb-4 text-accent font-bold">
            Get updates about developer applications!
          </p>
          <MailchimpForm />
        </div>
      </div>
    </div>

    <div class="mt-16">
      <p class="opacity-70">
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSddqN8iMuVSAkfjqRBn-3oU4YddSvgZa0Jqe90HCGypViZRZA/viewform"
          class="underline decoration-white/40"
        >
          Tech Lead applications</a
        > are open and being reviewed on a rolling basis.
        <br />
        Project Manager applications took place in the spring of 2024.
      </p>
      <p class="opacity-70 mt-4">
        Questions? Email <a
          href="mailto:board@jumbocode.org"
          class="underline decoration-white/40"
        >
          board@jumbocode.org</a
        >!
      </p>
    </div>
  </body>
</html>
