<div>
  <form
    action="https://jumbocode.us11.list-manage.com/subscribe/post?u=d3c507093f7b2f71584f684c0&id=25ebfbc332&f_id=004ac1e3f0"
    method="post"
    target="_blank"
  >
    <div>
      <div class="mc-field-group">
        <label for="mce-EMAIL" class="block text-sm font-medium opacity-80">
          Email
        </label>
        <input
          type="email"
          name="EMAIL"
          required
          class="mt-1 border-white/20 bg-white/5 focus:border-accent focus:ring-accent rounded-md w-full placeholder:text-white/30"
          placeholder="your.email@tufts.edu"
        />
      </div>
      <div class="mt-5">
        <p class="text-sm font-medium opacity-80">Class of...</p>
        <ul class="mt-1 space-y-1">
          <li>
            <input
              type="radio"
              name="group[35583]"
              id="mce-group[35583]-35583-0"
              value="1"
              class="text-accent focus:ring-accent mr-1"
            />
            <label for="mce-group[35583]-35583-0" class="text-white/90">
              Class of 2025
            </label>
          </li>
          <li>
            <input
              type="radio"
              name="group[35583]"
              id="mce-group[35583]-35583-1"
              value="2"
              class="text-accent focus:ring-accent mr-1"
            />
            <label for="mce-group[35583]-35583-1" class="text-white/90">
              Class of 2026
            </label>
          </li>
          <li>
            <input
              type="radio"
              name="group[35583]"
              id="mce-group[35583]-35583-2"
              value="4"
              class="text-accent focus:ring-accent mr-1"
            />
            <label for="mce-group[35583]-35583-2" class="text-white/90">
              Class of 2027
            </label>
          </li>
          <li>
            <input
              type="radio"
              name="group[35583]"
              id="mce-group[35583]-35583-3"
              value="8"
              class="text-accent focus:ring-accent mr-1"
            />
            <label for="mce-group[35583]-35583-3" class="text-white/90">
              Class of 2028
            </label>
          </li>
        </ul>
      </div>
      <div id="mce-responses" class="clear foot">
        <div class="response" id="mce-error-response" style="display: none;">
        </div>
        <div class="response" id="mce-success-response" style="display: none;">
        </div>
      </div>
      <div aria-hidden="true" style="position: absolute; left: -5000px;">
        /* real people should not fill this in and expect good things - do not
        remove this or risk form bot signups */
        <input
          type="text"
          name="b_d3c507093f7b2f71584f684c0_25ebfbc332"
          tabindex="-1"
          value=""
        />
      </div>
      <div class="mt-5">
        <div>
          <input
            type="submit"
            name="subscribe"
            id="mc-embedded-subscribe"
            value="Subscribe!!"
            class="bg-white/10 border border-white/20 text-accent px-2 py-1 rounded-md font-bold cursor-pointer"
          />
        </div>
      </div>
    </div>
  </form>
</div>
