<div>
  <form
    action="https://jumbocode.us11.list-manage.com/subscribe/post?u=d3c507093f7b2f71584f684c0&id=25ebfbc332&f_id=004ac1e3f0"
    method="post"
    target="_blank"
  >
    <div>
      <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address</label>
        <input type="email" name="EMAIL" required="/" />
      </div>
      <div>
        <strong>Class of... </strong>
        <ul>
          <li>
            <input
              type="radio"
              name="group[35583]"
              id="mce-group[35583]-35583-0"
              value="1"
            />
            <label for="mce-group[35583]-35583-0"> Class of 2025 </label>
          </li>
          <li>
            <input
              type="radio"
              name="group[35583]"
              id="mce-group[35583]-35583-1"
              value="2"
            />
            <label for="mce-group[35583]-35583-1"> Class of 2026 </label>
          </li>
          <li>
            <input
              type="radio"
              name="group[35583]"
              id="mce-group[35583]-35583-2"
              value="4"
            />
            <label for="mce-group[35583]-35583-2"> Class of 2027 </label>
          </li>
          <li>
            <input
              type="radio"
              name="group[35583]"
              id="mce-group[35583]-35583-3"
              value="8"
            />
            <label for="mce-group[35583]-35583-3"> Class of 2028 </label>
          </li>
        </ul>
      </div>
      <div id="mce-responses" class="clear foot">
        <div class="response" id="mce-error-response" style="display: none;">
        </div>
        <div class="response" id="mce-success-response" style="display: none;">
        </div>
      </div>
      <div aria-hidden="true" style="position: absolute; left: -5000px;">
        /* real people should not fill this in and expect good things - do not
        remove this or risk form bot signups */
        <input
          type="text"
          name="b_d3c507093f7b2f71584f684c0_25ebfbc332"
          tabindex="-1"
          value=""
        />
      </div>
      <div class="optionalParent">
        <div class="clear foot">
          <input
            type="submit"
            name="subscribe"
            id="mc-embedded-subscribe"
            class="button"
            value="Subscribe"
          />
        </div>
      </div>
    </div>
  </form>

  <script
    type="text/javascript"
    src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
  ></script><script type="text/javascript">
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = "EMAIL";
      ftypes[0] = "email";
      fnames[1] = "FNAME";
      ftypes[1] = "text";
      fnames[2] = "LNAME";
      ftypes[2] = "text";
      fnames[3] = "MMERGE3";
      ftypes[3] = "text";
    })(jQuery);
    var $mcj = jQuery.noConflict(true);
  </script>
</div>
